.b{
text-align:center;
}
.header{
float:left;
width:100%;
}
.logo{
float:left;
}
.nav span{
display:inline-block;
padding:20px;
float:right;
}
.bg{
float:left;
width:100%;
background: url(../images/b1.jpg) no-repeat;
background-size: 100% 400px;
}
.loginb{
position:fixed;
top:150px;
left:480px;
width:25%;
height:50%;
background-color:#1295C9;
display:none;
opacity:1;
}
.pos{
position:fixed;
top:150px;
left:480px;
width:25%;
height:auto;
background-color:#1295C9;
display:none;
opacity:1;
}

.loginbe{
position:fixed;
top:150px;
left:480px;
width:25%;
height:50%;
background-color:#1295C9;
display:none;
opacity:1;
}

.city{
float:left;
width:100%;
}
.city li{
display:inline-block;
padding:30px;
font-size:30px;
font-weight:100px;
}
.footer{
float:left;
width:100%;
background-color:#1295C9;
margin-left:-5px;
margin-top:10px;
}
.about{
float:left;
width:40%;
}